aiofiles
aiohttp
aiosignal
altair
anyio
async-timeout
attrs
audio-recorder-streamlit
backoff
beautifulsoup4
bleach
blinker
Brotli
bullet
cachetools
certifi
charset-normalizer
chroma-hnswlib
chroma-migrate
chromadb
click
click-log
clickhouse-connect
colorama
coloredlogs
dataclasses-json
decorator
deprecation
dnspython
docutils
dotty-dict
duckdb
duckduckgo-search
fastapi
flatbuffers
flupy
frozenlist
gitdb
GitPython
gotrue
greenlet
h11
h2
hpack
httpcore
httptools 
httpx
humanfriendly 
hyperframe 
idna 
importlib-metadata 
importlib-resources 
invoke 
jaraco.classes 
Jinja2 
jsonschema 
jsonschema-specifications
keyring
langchain
langsmith
loguru
lxml
lz4
markdown-it-py
MarkupSafe
marshmallow
mdurl
monotonic
more-itertools
mpmath
multidict
mypy-extensions
numexpr
numpy
onnxruntime
openai==0.28.0
openapi-schema-pydantic
overrides
packaging
pandas
pgvector
Pillow
pinecone-client
pkginfo
plotly
postgrest
posthog
protobuf
psycopg2-binary
pulsar-client
pyarrow
pydantic
pydeck
pydub
Pygments
Pympler
PyPika
pyreadline3
python-dateutil
python-dotenv
python-gitlab
python-semantic-release
pytube3
pytz
pytz-deprecation-shim
pywin32-ctypes
PyYAML
readme-renderer
realtime
referencing
regex
requests
requests-toolbelt
rfc3986
rich
rpds-py
semver
six
smmap
sniffio
socksio
soupsieve
SQLAlchemy
starlette
storage3
streamlit
StrEnum
supabase
supafunc
sympy
tenacity
tiktoken
tokenizers
toml
tomlkit
toolz
tornado
tqdm
twine
typing-inspect
typing_extensions
tzdata
tzlocal
urllib3
uvicorn
validators
vecs
watchdog
watchfiles
webencodings
websockets
wikipedia
win32-setctime
yarl
youtube-dl
zipp
zstandard
